{{#if album}}
<form action="/admin/albums/{{album.id}}?_method=PUT" method="POST">
  {{else}}
  <form action="/admin/albums" method="POST">
    {{/if}}
    <div class="form-group">
      <label for="name">專輯名稱</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="輸入專輯名稱" value="{{album.name}}">
    </div>

    <div class="form-group">
      <label for="date">發行日期</label>
      <input type="text" class="form-control" name="date" id="date" placeholder="輸入發行日期" value="{{album.date}}">
    </div>

    <div class="form-group">
      <label for="description">專輯簡介</label>
      <textarea class="form-control" id="description" name="description" rows="3">{{album.description}}</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>