{{#if album}}
<form action="/admin/albums/{{album.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
  {{else}}
  <form action="/admin/albums" method="POST" enctype="multipart/form-data">
    {{/if}}
    <div class="form-group">
      <label for="name">專輯名稱</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="請輸入專輯名稱" value="{{album.name}}">
    </div>
    <div class="form-group">
      <label for="artist">創作者</label>
      <input type="text" class="form-control" name="artist" id="artist" placeholder="請輸入創作者名稱" value="{{album.artist}}">
    </div>
    <div class="form-group">
      <label for="categoryId">Category</label>
      <select class="form-control" id="categoryId" name="categoryId">
        {{#each categories}}
        <option value="{{this.id}}" {{#ifCond this.id ../album.CategoryId}} selected {{/ifCond}}>{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label for="company">發行公司</label>
      <input type="text" class="form-control" name="company" id="company" placeholder="請輸入發行公司名稱"
        value="{{album.company}}">
    </div>
    <div class="form-group">
      <label for="date">發行日期</label>
      <input type="text" class="form-control" name="date" id="date" placeholder="請輸入發行日期" value="{{album.date}}">
    </div>
    <div class="form-group">
      <label for="description">專輯簡介</label>
      <textarea class="form-control" id="description" name="description" rows="3">{{album.description}}</textarea>
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" class="form-control-file" id="image" name="image">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br />
  <a href="javascript:history.back()">回上一頁</a>