<h1>使用者列表</h1>
<a href='/admin/AllAlbums' style="font-size:larger">Albums </a>|
<a href='/admin/categories' style="font-size:larger">Categories </a>|
<a href="/admin/users" style="font-size:larger">Users</a>
<br />
<br />
<br />
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="font-size:larger">List</th>
      <th scope="col" style="font-size:larger">Email</th>
      <th scope="col" style="font-size:larger">Role</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row" style="font-size:larger">{{this.id}}</th>
      <td style="font-size:larger">{{this.email}}</td>
      {{#if this.isAdmin}}
      <td style="font-size:larger">admin</td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PUT" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link" style="font-size:larger"><i class="fas fa-user-edit"></i>
          </button>
        </form>
      </td>
      {{else}}
      <td style="font-size:larger">user</td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PUT" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link" style="font-size:larger"><i class="fas fa-user-edit"></i>
          </button>
        </form>
      </td>
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>