<div class="row">
  <div class="col-md-12">
    <h1>{{album.name}}</h1>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{album.image}}" style="width: 250px;margin-bottom: 25px;">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Artist:</strong> {{album.artist}}</li>
        <li><strong>Release Date:</strong> {{album.date}}</li>
        <li><strong>Company:</strong> {{album.company}}</li>
        <li><strong>Category:</strong> {{album.Category.name}}</li>

      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <p>{{album.description}}</p>
  </div>
  <hr>
</div>
<br />
<br />
<a href="javascript:history.back()">回上一頁</a>