<div class="row">
  <div class="col-md-12">
    <h1>{{album.name}}</h1>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{album.image}}" style="width: 250px;margin-bottom: 25px;">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Artist:</strong> {{album.artist}}</li>
        <li><strong>Release Date:</strong> {{album.date}}</li>
        <li><strong>Company:</strong> {{album.company}}</li>
        <li><strong>Category:</strong> {{album.Category.name}}</li>
        <br />
        {{#if isFavorited }}
        <form action="/favorite/{{album.id}}?_method=DELETE" method="POST" style="display: contents;"><button
            type="submit" class="btn btn-danger"><i class="far fa-heart"></i>
          </button></form></button></form>
        {{else}}
        <form action="/favorite/{{album.id}}" method="POST" style="display: contents;"><button type="submit"
            class="btn btn-primary"><i class="fas fa-heart"></i>
          </button></form>
        {{/if}}
        {{#if isLiked }}
        <form action="/like/{{album.id}}?_method=DELETE" method="POST" style="display: contents;"><button type="submit"
            class="btn btn-danger"><i class="far fa-thumbs-up"></i>
          </button>
        </form>
        {{else}}
        <form action="/like/{{album.id}}" method="POST" style="display: contents;"><button type="submit"
            class="btn btn-primary"><i class="fas fa-thumbs-up"></i>
          </button>
        </form>
        {{/if}}
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <p>{{album.description}}</p>
  </div>
  <hr>
</div>
<br /><br />
<h3>所有留言：</h3>
{{#each album.Comments}}
{{#if ../user.isAdmin}}
<form action="/comments/{{this.id}}?_method=DELETE" method="POST" style="float: right;">
  <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i>
  </button>
</form>
{{/if}}
<blockquote class="blockquote mb-0">
  <h4><a href="/users/{{this.User.id}}">{{this.User.name}}</a></h4>
  <p>{{this.text}}</p>
  <footer class="blockquote-footer">{{ moment this.createdAt}}</footer>
</blockquote>
{{/each}}
<br />
<br />
<form action="/comments" method="POST">
  <div class="form-group">
    <label for="text">留下評論：</label>
    <textarea class="form-control" id="text" name="text" rows="3"></textarea>
  </div>
  <input type="hidden" name="albumId" value="{{album.id}}" />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a href="/allAlbums">回上一頁</a>