<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/allAlbums" style="font-size:larger">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/albums/feeds" style="font-size:larger">即時熱門</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/albums/top" style="font-size:larger">大家都在聽</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/users/top" style="font-size:larger">音樂達人</a>
  </li>
</ul>
<br />

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        最新上架
      </div>
      <div class="card-body">
        {{#each albums}}
        <div>
          <h4>
            <a href="/albums/{{this.id}}">{{this.name}}</a>|{{this.artist}}
            <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
            <span class="badge badge-pill badge-info" style="font-size: 15px;">{{this.Category.name}}</span>
          </h4>
          <p>{{this.description}}</p>
          {{moment this.createdAt}}
          <hr>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        最新評論
      </div>
      <div class="card-body">
        {{#each comments}}
        <div>
          <h4>
            <a href="/albums/{{this.Album.id}}">{{this.Album.name}}</a>|{{this.Album.artist}}
          </h4>
          <p>{{this.text}}</p>
          by <a href="/users/{{this.User.id}}">{{this.User.name}}</a>
          at {{moment this.createdAt}}
          <hr>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>