<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/allAlbums" style="font-size:larger">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/albums/feeds" style="font-size:larger">即時熱門</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/albums/top" style="font-size:larger">大家都在聽</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/users/top" style="font-size:larger">音樂達人</a>
  </li>
</ul>

<div class="row">
  {{#each albums}}
  <div class="card mb-3 col-12 m-2" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4" style="padding-top: 25px;">
        <img src="{{this.image}}" class="card-img" alt="album-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <span class="badge badge-secondary">收藏量 : {{this.FavoriteCount}}</span>
          <p class="card-text">{{this.description}}</p>
          <div class=" d-flex">
            <a href="/albums/{{this.id}}" class="btn btn-primary mr-3">Show</a>
            {{#if this.isFavorited}}
            <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger"><i class="far fa-heart"></i>
              </button></form></button>
            </form>
            {{else}}
            <form action="/favorite/{{this.id}}" method="POST">
              <button type="submit" class="btn btn-primary"><i class="fas fa-heart"></i>
              </button></form></button>
            </form>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>